@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Start background process</h2>
            <p>Start a long running process by clicking on the button below:</p>
            <form asp-action="BackgroundCounter">
                <button class="btn btn-primary btn-lg">Queue Background Job</button>
            </form>
        </div>
    </div>
}

