@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
    {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/broadcast")
            .configureLogging(signalR.LogLevel.Information)
            .build();
        connection.on("broadcastchannel",
            (message) => {
                console.log(message);
            });
        connection.start()
            .catch(err => console.error(err.toString()));
    </script>
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-12">
            <h2>Start background process</h2>
            <p>Start a long running process by clicking on the button below:</p>
            <form asp-action="BackgroundCounter">
                <button class="btn btn-primary btn-lg">Queue Background Job</button>
            </form>
        </div>
        <br />
    }
    <div class="col-md-12">
        <h2>Broadcast test message</h2>
        <p>Broadcast message to all connected clients:</p>
        <form asp-action="BroadcastMessage">
            <button class="btn btn-primary btn-lg">Start Broadcast</button>
        </form>
    </div>
</div>

